@media screen and (max-width: 1439.98px) {
	.container {
		max-width: 1200px;
	}

}


@media screen and (max-width: 1199.98px) {
	.container {
		max-width: 992px;
	}

	.routes__button {
		width: 120px;
	}
}


@media screen and (max-width: 991.98px) {
	.container {
		max-width: 768px;
	}

	.routes__button {
		width: 100px;
		height: 50px;
	}

	.hours .hours__text {
		width: 100%;
	}

	.about__info {
		width: 100%;
	}




}

@media screen and (max-width: 767.98px) {
	.container {
		max-width: 576px;
	}
	.routes {
		height: auto;
	}

	.route {
		flex-direction: column;
	}

	.route__images {
		margin-right: 0;
		width: 100%;
	}

	.routes__button {
		font-size: 14px;
		width: 80px;
		height: 45px;

	}
	.routes__buttons {
		margin-bottom: 35px;
	}

	.route__description {
		width: 100%;
		margin-top: 25px;
	}

	.hours {
		//background-position: left -200px top 0;
		background-size: fit;
	}

	.about__items {
		flex-direction: column-reverse;
	}

	.about__gallery {
		width: 100%;
		margin-bottom: 20px;
	}

	.about__text {
		padding-right: 0;
		width: 100%;
	}

	.about__info {
		margin-bottom: 20px;
	}


}

@media screen and (max-width: 575.98px) {

	html {
		--section-padding: 50px;
	}

	.routes__buttons {
		flex-wrap: wrap;
		//justify-content: space-around;
	}

	.routes__button {
		margin-bottom: 15px;
		width: 30%;

	}

	.routes {
		height: auto;


	}

	.routes__items {
		& .main-button {
			margin: 25px auto 0 auto;
			width: 100%;
		}
	}

}


@media screen and (max-width: 430px) {
	.section__heading {
		font-size: 52px;
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 380px) {
	.section__heading {
		font-size: 40px;
	}
}

@media screen and (max-width: 319.98px) {

}