@import 'reset.css';
@import '__fonts.styl';
@import '__variables.styl';
@import '__helpers.styl';
@import '__animations.styl';
@import '__adaptive.styl';

html {
	scroll-behavior: smooth;
}


html, body {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;

}

.container {
	max-width: 1320px;
	margin: 0 auto;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

//h1 {
//	font-family: 'Playfair Display';
//}

body {
	//height: 3000px;
}

.header {
	//height: 1200px;
	//position: relative;
}
.parallax {
	position: absolute;
	width: 100%;
	transform: translateY(var(--translateY));
	will-change: transform;
	&_first {
		top: -350px;
	}
	&_third {
		top: 400px;
	}
}



.header__heading {
	top: 170px;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 120px;
	line-height: 120%;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #FFFFFF;
	opacity: 0.9;


}

.header__subheading {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 500;
	font-size: 60px;
	line-height: 100%;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	opacity: 0.9;
	top: 500px;
}

.header__links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 10;
}

.header__link_logo {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-right: 93px;
}

.header__link_phone {
	margin-left: 100px;
	margin-right: 32px;
}