@import 'reset.css';
@import '__fonts.styl';
@import '__variables.styl';
@import '__helpers.styl';
@import '__animations.styl';
@import '__adaptive.styl';

html {
	scroll-behavior: smooth;
}


html, body {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: $color-black;

}

.container {
	max-width: 1320px;
	margin: 0 auto;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;

}


body {

}

.parallax {
	position: absolute;
	width: 100%;
	transform: translateY(var(--translateY));
	will-change: transform;
	&_first {
		top: -350px;
	}
	&_third {
		top: 400px;
	}

	&_last {
		bottom: -150px;
	}
}



.header__heading {
	top: 170px;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 120px;
	line-height: 120%;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: $color-green;
	opacity: 0.85;


}

.header__subheading {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 500;
	font-size: 60px;
	line-height: 100%;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	opacity: 0.9;
	top: 500px;
}

.header__nav {
	margin-top: 15px;
}

.header__links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 10;

}

.header__link {
	text-decoration: none;
	color: $color-green;
	text-transform: uppercase;
	font-weight: 500;
	background-repeat: no-repeat;
	background-image: linear-gradient(to right, $color-green 0%, #5DCEC6 100%);
	background-size: 0 2px;
	background-position: 0 96%;
	padding: 5px 0;
	transition: background-size 0.4s cubic-bezier(.51,.19,.27,.88) 0s;
	&:not(.header__link_logo) {
		&:hover, &:focus {
			background-size: 100% 2px;

		}
	}

}

.header__link_logo {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-right: 70px;
	font-family: 'Playfair Display';
	font-weight: 900;
	letter-spacing: 0.045em;
	text-transform: uppercase;
}

.header__link_phone {

	margin-right: 32px;
	font-family: 'Playfair Display';
	font-weight: 900;
	font-size: 22px;
	line-height: 120%;
	font-feature-settings: 'pnum' on, 'lnum' on;
}



.header__link_contacts {
	margin-right: 80px;
}

.header__link_social img {
	height: 20px;
	transform: scale(1);
	transition: transform 0.3s ease;
}

.header__link_social {
	&:hover, &:focus {
		& img {
			transform: scale(1.15);
			transition: transform 0.3s ease;
		}
	}
}

.routes {
	margin-top: 400px;
}

.section__heading {
	font-family: 'Playfair Display';
	font-weight: 500;
	font-size: 60px;
	line-height: 100%;
	margin-bottom: 50px;
}

.section__subheading {
	font-weight: 700;
	font-size: 22px;
	line-height: 130%;
	text-transform: uppercase;
}

.routes__buttons {
	width: 100%;
	margin-top: -520px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;

}

.routes__button {
	width: 166px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	border: 2px solid $color-green;
	&:hover, &:focus {
		color: $color-green;
	}
	&_active {
		background-color: $color-green;
		color: #FFF;
	}
}

footer {
	height: 900px;
}