@import 'reset.css';
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''), url("fonts/raleway-v26-latin_cyrillic-regular.woff2") format('woff2'), url("fonts/raleway-v26-latin_cyrillic-regular.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''), url("fonts/raleway-v26-latin_cyrillic-500.woff2") format('woff2'), url("fonts/raleway-v26-latin_cyrillic-500.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''), url("fonts/raleway-v26-latin_cyrillic-600.woff2") format('woff2'), url("fonts/raleway-v26-latin_cyrillic-600.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''), url("fonts/raleway-v26-latin_cyrillic-700.woff2") format('woff2'), url("fonts/raleway-v26-latin_cyrillic-700.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''), url("fonts/playfair-display-v28-latin_cyrillic-500.woff2") format('woff2'), url("fonts/playfair-display-v28-latin_cyrillic-500.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''), url("fonts/playfair-display-v28-latin_cyrillic-700.woff2") format('woff2'), url("fonts/playfair-display-v28-latin_cyrillic-700.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(''), url("fonts/playfair-display-v28-latin_cyrillic-900.woff2") format('woff2'), url("fonts/playfair-display-v28-latin_cyrillic-900.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}
.main-button {
  width: 300px;
  height: 60px;
  background-color: #fff;
  border-radius: 60px;
  font-weight: 600;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #0c4e42;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  margin: 560px auto 0 auto;
  cursor: pointer;
  overflow: hidden;
  transform: translateY(0);
  transition: all 0.3s ease;
  border: 2px solid #fff;
}
.main-button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background-color: #0c4e42;
  left: 0;
  bottom: 0;
  transition: all 0.3s;
  opacity: 0.1;
}
.main-button:hover,
.main-button:focus {
  transform: translateY(-5px);
  transition: all 0.3s ease;
  background-color: transparent;
  color: #fff;
}
.main-button:hover::before,
.main-button:focus::before {
  width: 100%;
}
@media screen and (max-width: 1439.98px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1199.98px) {
  .container {
    max-width: 992px;
  }
}
@media screen and (max-width: 991.98px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 767.98px) {
  .container {
    max-width: 576px;
  }
}
html {
  scroll-behavior: smooth;
}
html,
body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #253238;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.parallax {
  position: absolute;
  width: 100%;
  transform: translateY(var(--translateY));
  will-change: transform;
}
.parallax_first {
  top: -350px;
}
.parallax_third {
  top: 400px;
}
.parallax_last {
  bottom: -150px;
}
.header__heading {
  top: 170px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 120px;
  line-height: 120%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #0c4e42;
  opacity: 0.85;
}
.header__subheading {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.9;
  top: 500px;
}
.header__nav {
  margin-top: 15px;
}
.header__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}
.header__link {
  text-decoration: none;
  color: #0c4e42;
  text-transform: uppercase;
  font-weight: 500;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0c4e42 0%, #5dcec6 100%);
  background-size: 0 2px;
  background-position: 0 96%;
  padding: 5px 0;
  transition: background-size 0.4s cubic-bezier(0.51, 0.19, 0.27, 0.88) 0s;
}
.header__link:not(.header__link_logo):hover,
.header__link:not(.header__link_logo):focus {
  background-size: 100% 2px;
}
.header__link_logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 70px;
  font-family: 'Playfair Display';
  font-weight: 900;
  letter-spacing: 0.045em;
  text-transform: uppercase;
}
.header__link_phone {
  margin-right: 32px;
  font-family: 'Playfair Display';
  font-weight: 900;
  font-size: 22px;
  line-height: 120%;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
.header__link_contacts {
  margin-right: 80px;
}
.header__link_social img {
  height: 20px;
  transform: scale(1);
  transition: transform 0.3s ease;
}
.header__link_social:hover img,
.header__link_social:focus img {
  transform: scale(1.15);
  transition: transform 0.3s ease;
}
.routes {
  margin-top: 400px;
}
.section__heading {
  font-family: 'Playfair Display';
  font-weight: 500;
  font-size: 60px;
  line-height: 100%;
  margin-bottom: 50px;
}
.section__subheading {
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
  text-transform: uppercase;
}
.routes__buttons {
  width: 100%;
  margin-top: -520px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.routes__button {
  width: 166px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  border: 2px solid #0c4e42;
}
.routes__button:hover,
.routes__button:focus {
  color: #0c4e42;
}
.routes__button_active {
  background-color: #0c4e42;
  color: #fff;
}
footer {
  height: 900px;
}
